<style>
          h2{

               margin-left: 20%;
          }
          aside{
              margin-left:75ex;
              margin-left:75ex;
              
          }
          label {

               color: black
          }

          button {
               margin-left: 7%;
               font-size: large;
               background-color: gold;
               shape-outside: margin-box;
               color: darkblue;
               border-style: outset;
          }

          h1 {
               color:navy;
               margin-left: 15%;
          }

          fieldset {
               background-color:sandybrown;
               border-style: dotted;
          }

          .center {
               position: absolute;
               top: 45%;
               left: 43%;
               transform: translate(-30%, -30%);
               width: 600px;
               border: 600px;
          }

          div {
               text-align: center;
          }

          body {
               background-color:bisque;

          }
     </style>